.container {
  background-color: var(--shade-dark);
  color: white;
  transition: background-color 150ms ease-in;
  border-bottom: 2px solid var(--bg);
}
.container:hover {
  transition: background-color 150ms ease-in;
  background-color: #ffffff10;
}

.progressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkContainer {
  padding: 1.4em 2em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 1.4em;
}
.contentsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.2em;
  width: 100%;
  & > :first-child {
    display: flex;
    text-align: start;
  }
}

.bookInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  font-weight: 700;
  font-size: clamp(1rem, 0.8vw, 1.4rem);
  & > :first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
    color: var(--text-white);
  }
}

.metaBookInfo {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffffff60;
  line-height: 1.1rem;
  max-width: 300px;
  display: block;
  & > * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.updateTime {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff50;
}
.updateTime::before {
  content: "";
  background: url("../../../assets/icons/personal-library/updated-icon.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-position: center;
  margin-right: 0.4em;
}

@media (max-width: 900px) {
  .linkContainer {
    padding: 1em 1.2em;
  }

  .metaBookInfo {
    font-size: 0.8rem;
  }
}
