.container{
  background-color:var(--shade-dark);
  color:white;
}
.container:hover{
  background-color:#ffffff10;
}
.container:not(:last-of-type){
  border-bottom: 2px solid var(--bg);
}

.linkContainer{
  padding:1em 2em;
  width:100%;
  height:100%;
  box-sizing:border-box;
  display:inline-block;
}
