.navbar{
  width: 98vw;
  position:absolute;
  top: 20px;
  display:flex;
  align-items:center;
  z-index:10;
  justify-content:space-between;
  color:var(--text-white);
}

.navbar{
  :first-child{
    display:flex;
  }
}


