.navbar{
  width: 98vw;
  position:absolute;
  top: 20px;
  display:flex;
  align-items:center;
  z-index:10;
  justify-content:space-between;
  color:black;
}

.navbar{
  :first-child > span,
  :first-child{
    gap:.8em;
    display:flex;
  }
  &>:nth-child(2){
    gap:2em !important;
    max-width:30%;
    width:30%;
    justify-content:space-between;
  }
  :last-child,.bookProps{
    gap:.4em;
  }
}

.actionContainers{
  padding:.5em;
  background-color: #ffffff;
  border-radius:9px;
  height:1.5em;
}
.actionContainers,.bookProps{
  display:flex;
  align-items:center;
}

.bookProps{
}

