.navbar{
  width: 70vw; 
  color:#000000;
  position:absolute;
  top: 20px;
  display:flex;
  align-items:center;
  z-index:10;
  justify-content:space-between;
}

.navbar{
  &>:nth-child(2){
    gap:2em !important;
  }
  :last-child,.bookProps{
    gap:.4em;
  }
}

.actionContainers{
  padding:.5em;
  background-color: #ffffff;
  border-radius:9px;
  gap:1.2em;
  height:1.5em;
}
.actionContainers,.bookProps{
  display:flex;
  align-items:center;
}

.bookProps{
}

