.container{
  display:flex;
  justify-content:space-between;
  gap:2em !important;
  padding:.5em 1em !important;
  min-width:20%;
  width:30%;
  & > span{
    box-sizing:border-box;
    font-weight: 600;
    max-width:500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
}
.bookProps{
  display:flex;
  align-items:center;
  font-size:.9rem;
  & > *{
    padding:0em .4em;
  }
}


