.container{
   display:flex;
}

.addBookBtn{
  margin-left:.8em;
  & > svg circle{
    transition: fill 150ms 200ms ease-in;
  }
  & > svg path{
    transition: fill 150ms ease-in;
  }
}
.addBookBtn:hover{

  & > svg circle{
    transition: fill 150ms ease-in;
    fill: var(--accent1);
  }
  & > svg path{
    transition: fill 150ms 180ms ease-in;
    fill: var(--bg);
  }
}

.buttonsContainer{
  padding:0 !important;
  display:block;
  height:100%;
  box-sizing:border-box;
  overflow:hidden;
  & > span{
    display:inline-block;
    height:100%;
  }
}
.btns{
  transition: background-color 150ms ease-in-out;
  & > svg {
    fill: #ffffff ;
  }
}

.btns:hover{
  transition: background-color 150ms ease-in-out;
  background-color:#ffffff20;
  & > svg {
    fill: var(--accent1, #DF7868);
    & > path{
      stroke: var(--accent1);
    }
  }

}
