.container {
  padding: 1em 1.2em;
  background-color: var(--shade-dark);
  border-radius: 10px;
  box-sizing: border-box;
  width: max-content;
}

.contentsContainer {
  display: flex;
  align-items: center;
  & > :last-child {
    margin-left: 1em;
    width: 30px;
    height: 30px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.text {
  font-size: 1.2rem;
}
