.container{
  gap:.8em;
  padding:0 !important;
  height:100%;
  overflow:hidden;
  & > span{
   & > button {
     transition: background-color 150ms ease-in-out;
   }
   & > button:hover{
    transition: background-color 150ms ease-in-out;
    background-color:#ffffff20;
   }
  }
}
