.container {
  position: absolute;
  top: 10%;
  left: 1vw;
  width: 30em;
  color: black;
  border-radius: 7px;
  overflow: hidden;
  /* background-color: #d9d9d9; */
  max-height: max-content;
  z-index: 10;
}
