.container {
  background-color: var(--shade-dark);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 30em;
  /* border-radius:9px; */
  overflow: hidden;
  height: 100%;
}

.actionsContainer {
  box-sizing: content-box;
  display: flex;
  padding: 0em 2em;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border-bottom: 2px solid var(--bg);
  height: 4em;
  position: relative;
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.2);
}

.searchContainer {
  width: 100%;
}
.searchInput {
  display: inline-block;
  appearance: none;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 0.8em;
  padding-left: 3em;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bg);
  color: var(--text-white);
}
.searchContainer {
  box-sizing: content-box;
}

.searchContainer::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: no-repeat
    url("../../../assets/icons/personal-library/search-icon.svg") center;
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  left: 2.8em;
  top: 1.3em;
}

.bookItemsContainer {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70vh;
}

.addBookBtn:hover {
  & > svg circle {
    transition: fill 150ms ease-in;
    fill: none;
  }
  & > svg path {
    transition: fill 150ms 50ms ease-in;
    fill: var(--accent1);
  }
}

.placeholderBookItem {
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff40;
}

@media (max-width: 900px) {
  .searchInput {
    display: inline-block;
    appearance: none;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 0.8em;
    padding-left: 4em;
    font-size: 0.8rem;
  }

  .searchContainer::before {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    left: 3em;
    top: 1.4em;
  }

  .addBookBtn {
    scale: 0.9;
  }
}
